body {
	background: transparent;
}

ol {
	list-style: none inside;
	margin: 0;
	padding: 0.1em;
}

/*
li that is an adjacent sibling of previous li gets the margin.

This way there is a free space between items but only between two actual items.
Without any extra free space for first/last/single item.
*/
li + li {
	margin-top: 0.5em;
}


.chat-entry {
	/* Border color depends on who authored the message and is set bellow. */ 
	border-style: solid;
	border-width: 0 2px;
	padding: 0;
	margin: 0;
}

.chat-entry.edited {
	/* Border color depends on who authored the message and is set bellow. */ 
	border: medium dotted;
}

.chat-entry div.contents {
	/*
	Minimal size corresponds to image size and assures that the floating image
	will not get beyond the message itself (by granting extra size if it is
	needed).
	*/
	min-height: 50px;
	min-width: 50px;
	/* top right bottom left */
	margin: 0 0 0.2em 0;
	text-align: justify;
}

.chat-entry.user-system div.contents {
	/* System messages have no image thus they do not need minimal size. */
	min-height: 0;
	min-width: 0;
}

br, p {
	margin: 0;
	padding: 0;
}

p + p, p + br, br + p, br + br {
	margin-top: 0.1em;
}

.chat-entry div.contents img {
	float: left;
	margin-right: 0.2em;
	margin-bottom: 0.2em;
}

.chat-entry footer {
	border-top-width: thin;
	border-top-style: solid;
	font-size: smaller;
}

.chat-entry footer .date {
	text-align: right;
}

.chat-entry textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 5em;
}

.chat-entry.user-player-red {
	background-color: rgba(255, 0, 0, 0.2);
}

.chat-entry.user-player-green {
	background-color: rgba(0, 128, 0, 0.2);
}

.chat-entry.user-player-blue {
	background-color: rgba(0, 0, 255, 0.2);
}

.chat-entry.user-player-white {
	background-color: rgba(128, 128, 128, 0.2);
}

.chat-entry.user-observer {
	background-color: rgba(192, 192, 192, 0.2);
	}

.chat-entry.user-system {
	background-color: rgba(0, 0, 0, 0.2);
}


.chat-entry.user-player-red, .chat-entry.user-player-red footer {
	border-color: rgb(255, 0, 0);
}

.chat-entry.user-player-green, .chat-entry.user-player-green footer {
	border-color: rgb(0, 128, 0);
}

.chat-entry.user-player-blue, .chat-entry.user-player-blue footer {
	border-color: rgb(0, 0, 255);
}

.chat-entry.user-player-white, .chat-entry.user-player-white footer {
	border-color: rgb(128, 128, 128);
}

.chat-entry.user-observer, .chat-entry.user-observer footer {
	border-color: black;
}

.chat-entry.user-system, .chat-entry.user-system footer {
	border-color: rgb(0, 0, 0);
}

.user-player-red .user-role {
	color: rgb(255, 0, 0);
}

.user-player-green .user-role {
	color: rgb(0, 128, 0);
}

.user-player-blue .user-role {
	color: rgb(0, 0, 255);
}

.user-player-white .user-role {
	color: rgb(128, 128, 128);
}
