body {
	background: #f0f0f0; 
}

body,button,input,select,textarea {
	font-family: Verdana, "BitStream vera Sans", Helvetica, Sans-serif;
	font-size: 13px;
}

div.userbar {
	font-weight: bold;
	margin-bottom: 10px;
	background: -moz-linear-gradient(#fafafa,#eaeaea);
	background: -webkit-linear-gradient(#fafafa,#eaeaea);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa',endColorstr='#eaeaea')";
	background: linear-gradient(#fafafa,#eaeaea);
	border-bottom:1px solid #cacaca;
	height: 50px;
	box-shadow:0 0 0 rgba(255,255,255,0.4),0 0 10px rgba(0,0,0,0.1);
}

div.userbar img {
}

img.avatar {
	height: 50px;
	width: 50px;
}

div.container {
	width: 920px;
	margin: 0 auto;
}




.wheel {
	width: 333px;
	height: 304px;
	float: left;
}




.building-list {
	display: block;
	margin-top: 15px;
	margin-bottom: 0;
	margin-left: 333px;
	margin-right: 0;
}
.building {
	border: 1px solid #BDC3C8;
	border-radius: 3px;
	box-shadow: 0 0 3px rgba(0,0,0,0.3);
	background-color: #fff;
	font-size: 8pt;
	height: 125px;
	width: 75px;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	padding: 2px;
	margin: 3px;
}
.building-image {
	height: 125px;
	width: 75px;
}
.building-laybrother-red:after {
	content: url('../images/laybrother-red.svg');
	position: relative;
	top: -105px;
	left: 25px;
}
.building-laybrother-green:after {
	content: url('../images/laybrother-green.svg');
	position: relative;
	top: -105px;
	left: 25px;
}
.building-laybrother-blue:after {
	content: url('../images/laybrother-blue.svg');
	position: relative;
	top: -105px;
	left: 25px;
}
.building-laybrother-white:after {
	content: url('../images/laybrother-white.svg');
	position: relative;
	top: -105px;
	left: 25px;
}
.building-prior-red:after {
	content: url('../images/prior-red.svg');
	position: relative;
	top: -105px;
	left: 25px;
}
.building-prior-green:after {
	content: url('../images/prior-green.svg');
	position: relative;
	top: -105px;
	left: 25px;
}
.building-prior-blue:after {
	content: url('../images/prior-blue.svg');
	position: relative;
	top: -105px;
	left: 25px;
}
.building-prior-white:after {
	content: url('../images/prior-white.svg');
	position: relative;
	top: -105px;
	left: 25px;
}

.settlement-list {
}
.settlement {
	border: 1px solid #C6BCBC;
	border-radius: 3px;
	box-shadow: 0 0 3px rgba(0,0,0,0.3);
	background-color: #fff;
	font-size: 8pt;
	height: 125px;
	width: 75px;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	padding: 2px;
	margin: 3px;
}
.settlement-buildable {
	border: 2px solid #006600;
}
.settlement-not-buildable {
	border: 2px solid #FF0000;
}
.settlement-image {
	height: 125px;
	width: 75px;
}
.future-settlement {
	border: 2px solid #FBEC00;
	display: none;
}



.future-building-list {
	height: 304px;
	display: block;
	margin-top: 15px;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
}
.future-building {
	border: 1px solid #FBEC00;
	border-radius: 3px;
	box-shadow: 0 0 3px rgba(0,0,0,0.3);
	background-color: #fff;
	font-size: 8pt;
	height: 125px;
	width: 75px;
	display: none;
	vertical-align: top;
	text-align: left;
	padding: 2px;
	margin: 3px;
}
.future-building-image {
	height: 125px;
	width: 75px;
}

.show-future-building-button {
	cursor: pointer; 
}
.hide-future-building-button {
	cursor: pointer;
	display: none;
}

.show-future-settlements-button {
	cursor: pointer; 
}
.hide-future-settlements-button {
	cursor: pointer;
	display: none;
}

.info {
	float: right;
}
.info-line {
	margin: 0;
}

.tabs {
	clear: both;
	list-style: none;
	padding: 0;
	margin: 0;
	height: 35px;
}
.tab {
	padding: 5px;
	border: 2px solid #b3b3b3;
	border-bottom: 0;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	float: left;
	margin: 0 0.5em 0 0;
	width: 20%;
	height: 25px;
	overflow: hidden;
	line-height: 20px;
	cursor: pointer;
	top: -1px;
	position: relative;
}
.tab img {
	height: 25px;
	width: 25px;
}

.board {
	padding: 5px;
	border: 1px solid #b3b3b3;
	background: #fcfcfc;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}
.board table {
	border-color: gray;
	border-style: outset;
	border-width: 1px;
	border-collapse: collapse;
}
.board table td {
	height: 147px;
	width: 95px;
	font-size: 8pt;
	text-align: center;
	vertical-align: middle;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
border-color: gray;
	border-width: 1px;
	border-style: inset;
	border-collapse: collapse;
}
.board table td.water {
	background-color: #87b6ff; 
	background-image: url('../images/background/Water.svg');
}
.board table td.coast {
	background-color: #ffdd67; 
	background-image: url('../images/background/Coast.svg');
}
.board table td.plains {
	background-color: #7cd958; 
	background-image: url('../images/background/Plains.svg');
}
.board table td.hillside {
	background-color: #bdd6b5; 
	background-image: url('../images/background/Hillside.svg');
}
.board table td.mountain {
	background-color: #A2A6A0; 
	background-image: url('../images/background/Mountain.svg');
}
.landscape-tile {
	height: 125px;
	width: 75px;
	filter:alpha(opacity=50);
	opacity:0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out;
	-ms-transition: opacity 0.2s ease-in-out;	
	transition: opacity 0.2s ease-in-out;
}
.landscape-tile:hover {
	opacity: 0.8;
}

.board--selected {
	
}
.board--unselected {
	display: none;
}
.tab--selected {
}
.tab--unselected {
	opacity: 0.5;
}
.tab--active {
	background: #FFC966; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFC966', endColorstr='#FFFFFF'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#FFC966), to(#FFFFFF)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #FFC966,  #FFFFFF); /* for firefox 3.6+ */ 
}
.tab--inactive {
}


.tab--red {
	border-color: red;
}
.tab--green {
	border-color: green;
}
.tab--blue {
	border-color: blue;
}
.tab--white {
	border-color: grey;
}

.resource {
	border-radius: 4px;
	margin: 3px;
	box-shadow: 0 0 0 1px #181818;
	display: inline-block;
}
.movelist-color {
	color: #7f7f7f;
	float: left;
	width: 5em;
	text-transform: lowercase;
}
.movelist-color:first-letter {
	text-transform: uppercase;
}
.movelist-color:after {
	content: ':';
}

.wonder {
	float: left;
	height: 106px;
	width: 106px;
	line-height: 103px;
	display: inline-block;
	margin: 3px;
	font-weight: bold;
	color: white;
	border-radius: 8px;
	box-shadow: 0 0 0 1px #181818, inset 0 0 20px white;
	background-color: #23506E;
	vertical-align: middle;
	text-align: center;
}

.actionsBeforeSettlement {
	color: black;
	font-weight: bold;
}


.actionsBeforeSettlementRed {
	color: red;
	font-weight: bold;
}

fieldset {
	border: 1px groove #f0f0f0;
	margin-left: 2px;
	margin-right: 2px;
	padding-left: 9px;
	padding-right: 9px;
	padding-top: 4px;
	padding-bottom: 8px;
}
legend {
	display: block;
	padding: 2px;
}


input.error {
  border: 1px solid red;
  -webkit-animation-name: glow;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
@-webkit-keyframes glow {
  0% {
    -webkit-box-shadow: 0 0 6px -1px #ff0000;
    border: 1px solid red;
  }
  50% {
    -webkit-box-shadow: 0 0 6px -1px #ff7f7f;
    border: 1px solid black;
  }
  100% {
    -webkit-box-shadow: 0 0 6px -1px #ff0000;
    border: 1px solid red;
  }
}

.yourTurn {
	background-color: #fff373;
}

.errorBox,
.messageBox {
		border-radius: 25px;
		border: 1px solid;
		margin: 10px 0px;
		padding: 15px 10px;
}

.errorBox:before {
		content: "(x) ";
}
.errorBox {
		color: #d8000c;
		background-color: #ffbaba;
}

.messageBox:before {
		content: "(!) ";
}
.messageBox {
		color: #00529b;
		background-color: #bde5f8;
}