<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>weblabora</display-name>
  <resource-env-ref>
    <resource-env-ref-name>bean/emf</resource-env-ref-name>
    <resource-env-ref-type>javax.persistence.EntityManagerFactory</resource-env-ref-type>
  </resource-env-ref>
  <persistence-context-ref>
    <persistence-context-ref-name>persistence/em</persistence-context-ref-name>
    <persistence-unit-name>labora-pu</persistence-unit-name>
  </persistence-context-ref>
  <listener>
    <listener-class>com.philihp.weblabora.util.JPAContextListener</listener-class>
  </listener>
  <listener>
  	<!-- must come second because it relies on JPA to load config -->
    <listener-class>com.philihp.weblabora.util.ApplicationScopeLoader</listener-class>
  </listener>
  <filter>
    <filter-name>jpa-filter</filter-name>
    <filter-class>com.philihp.weblabora.util.EntityManagerFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>jpa-filter</filter-name>
    <servlet-name>action</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>jpa-filter</filter-name>
    <servlet-name>jsp</servlet-name>
  </filter-mapping>
  <resource-ref>
    <description>Database</description>
    <res-ref-name>jdbc/LaboraDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>1</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>2</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>-1</session-timeout>
  </session-config>
</web-app>